[submodule "can_server"]
	path = can_server
	url = ../can_server.git
[submodule "can_app"]
	path = can_app
	url = ../can_app.git
[submodule "can_promo_site"]
	path = can_promo_site
	url = ../can_promo_site.git
